html,
body {
  margin: 0;
  padding: 0;
}

body {
  .hidden {
    display: none;
  }
}

abbr[title] {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  cursor: help;
  text-decoration: none;
}

::selection,
::-moz-selection {
   background: ahs-color-palette('ahs-fuchsia', 'mid-light');
   color: white;
   text-shadow: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}