// -----------------------------------------------------------------------------
// This file contains webfonts.
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');