.ahs-sitemap {
  $sitemap_link_color: #333;
  a {
    color: $sitemap_link_color;
  }
  > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    margin-bottom: $base_margin;
    padding: 0;
    > li {
      display: block !important;
      padding-right: $base_padding;
      width: 100%;
      &:last-child {
        padding-right: 0;
      }
      ul {
        list-style-type: decimal;
      }
      > a,
      > span {
        border-bottom: solid 1px #DDD;
        display: block;
        font-weight: bold; 
      }
      > ul {
        padding: 0 $base_padding;
      }
    }
  }
}