<button id="scroll-to-top" class="button button-tertiary" title="Scroll to top"><i class="fa fa-angle-up fa-2x"></i></button>

<!-- <button id="scroll-to-top" class="button button-tertiary" title="Scroll to top"><i class="fa fa-angle-up fa-2x"></i></button>
<button id="scroll-to-top" class="button button-tertiary" title="Scroll to top"><i class="fa fa-fw fa-chevron-up"></i></button>  
<button id="scroll-to-top" class="button button-tertiary" title="Scroll to top"><i class="fa fa-chevron-up fa-@2x"></i></button>  -->