---
layout: shared/base
styles:
  cdn : []
  libs: []
  base:
    - syllabus-resources/css/course.css
scripts:
  cdn-bottom:
    - https://code.jquery.com/jquery-3.3.1.min.js
  libs-bottom:
    - syllabus-resources/vendor/lodash/lodash.js
    - syllabus-resources/vendor/lunr/lunr.min.js
  base-bottom:
    - syllabus-resources/js/course.js
    - syllabus-resources/js/course.search.js
---
{%- assign syllabus = site.data.shared.syllabi | where: 'id', site.syllabus-id | first %}
{%- include course/sidebar.html %}
<main class="ahs-main">
    <div class="ahs-introduction">
        <picture class="ahs-introduction__picture">
            <img src="{{ site.hero_image | absolute_url }}" alt="">
        </picture>
        <header class="ahs-introduction__header">
            <h1 class="ahs-main__heading">
{%- if syllabus.title.short %}
                {{ syllabus.title.short }}
{%- else %}
                Syllabus
{%- endif %}
            </h1>
            <h2>{{ site.hero_introduction }}</h2>
        </header>
    </div>
    <div class="ahs-main__body">
        {{ content }}
    </div>
{% include shared/footer.html %}
</main>
{% include shared/scroll-to-top.html %}